<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POEVENT</title>
</head>
<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h1>Register</h1>
            <div class="fields">
                <div class="sections">
                    <div>
                        {{ form.username }}
                        {{ form.username.label }}
                    </div>
                    
                    <div>
                        {{ form.carnet }}
                        {{ form.carnet.label }}
                    </div>

                    <div>
                        {{ form.career }}
                        {{ form.career.label }}
                    </div>

                    <div>
                        {{ form.date_birth }}
                        {{ form.date_birth.label }}
                    </div>
        
                    <div>
                        {{ form.address }}
                        {{ form.address.label }}
                    </div>

                    <div>
                        {{ form.email }}
                        {{ form.email.label }}
                    </div>

                    <div>
                        {{ form.password }}
                        {{ form.password.label }}
                    </div>

                    <div>
                        {{ form.gender }}
                        {{ form.gender.label }}
                    </div>

                    <div>
                        {{ form.poetry_gen }}
                        {{ form.poetry_gen.label }}
                    </div>

                    <div>
                        {{ form.phone }}
                        {{ form.phone.label }}
                    </div>

                    <div>
                        {{ form.phone_country_code }}
                        {{ form.phone_country_code.label }}
                    </div>
                </div>
            </div>

            {{ form.submit(class='button submit') }}
        </form>
    </div>
</body>
</html>